<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>車両売上一覧</title>
</head>
<body>
    <%- include("../header.ejs")%>
    <main class="w-100 my-0 mx-auto d-flex flex-column justify-content-center mt-4">
        <h2 class="mx-auto w-75">車両売上一覧</h2>
        <article class="mx-auto w-75 mb-5">
            <h3 class="d-none">車両一覧</h3>
            <% for(let i in salesInfos){ %>
                <div class="card mb-2">
                    <div class="row g-0">
                        <div class="col-md-4 p-3">
                            <img class="card-img-top" src="/img/demo_img/K0000658496.jpg" alt="car_icon">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">車名:<%= salesInfos[i].car_name %></h5>
                                <p class="card-text">
                                    終了価格: <%= salesInfos[i].end_price %> 円<br>
                                    購入者: <%= salesInfos[i].user_name %> 様
                                </p>
                                <p class="card-text"><small class="text-muted">終了日時:<%= salesInfos[i].end_datetime %></small></p>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">売上合計</h5>
                    <p class="card-text">
                        合計金額 : <%= sum %> 円<br>
                    </p>
                </div>
            </div>
        </article>
        <article class="mx-auto">
            <h4 class="d-none">ページャー</h4>
            <ul class="pagination">
                <li class="page-item <%= currentPage == 1 ? 'disabled' : '' %>"><a href="?page=<%= currentPage - 1 %>" class="page-link">前へ</a></li>
                <% for (let i=0; i < pageLength; i++) { %>
                    <li class="page-item"><a href="?page=<%= i + 1 %>" class="page-link"><%= i + 1 %></a></li>
                <% } %>
                <li class="page-item <%= currentPage == pageLength ? 'disabled' : '' %>"><a href="?page=<%= currentPage + 1 %>" class="page-link">次へ</a></li>
            </ul>
        </article>
    </main>
</body>
</html>